
<table style="width:100%">
  <tr>
    <td colspan=2><strong>
    k3d-faas
      </strong>&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
  </tr>
  <tr>
    <td width=15%><img src=img/icon.png style="width:150px"></td>
    <td>
      Laboratory for working with Functions as a Service on kubernetes
      <br/><br/>
      {%for action in github.actions%}<a href="{{action.url}}"><img src="{{action.url}}/badge.svg"></a>{%endfor%}
    </td>
  </tr>
</table>

-------------------------------------------------------------

{{markdown_toc(__template__, level=4)}}

-------------------------------------------------------------

## Overview


-------------------------------------------------------------

## Features

-------------------------------------------------------------

## Quick Start

### Clone/Build/Test This Repo

```bash
# for ssh
$ git clone {{github.repo_ssh_url}}

# or for http
$ git clone {{github.repo_url}}

# 
$ make clean build test
```

-------------------------------------------------------------

# Known Limitations and Issues