
<table style="width:100%">
  <tr>
    <td colspan=2><strong>
    k3d-faas
      </strong>&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
  </tr>
  <tr>
    <td width=15%><img src=img/icon.png style="width:150px"></td>
    <td>
      Laboratory for working with Functions as a Service on kubernetes
      <br/><br/>
      {%for action in github.actions%}<a href="{{action.url}}"><img src="{{action.url}}/badge.svg"></a>{%endfor%}
    </td>
  </tr>
</table>

-------------------------------------------------------------

{{markdown_toc(__template__, level=4)}}

-------------------------------------------------------------

## Overview

Placeholder 

-------------------------------------------------------------

## Features

* E2E demo for basic [Fission](https://fission.io/docs) infrastructure & application deployment
* E2E demo for basic [Knative](https://knative.dev/docs) infrastructure deployment *(app coming soon)*
* Bundles Fission, Knative, & OpenWhisk CLI tools

-------------------------------------------------------------

## Quick Start

### Clone/Build/Test This Repo

```bash
# for ssh
$ git clone {{github.repo_ssh_url}}

# or for http
$ git clone {{github.repo_url}}

# 
$ make clean bootstrap deploy test
```

-------------------------------------------------------------

# Known Limitations and Issues

1. Placeholder
1. Placeholder
1. Placeholder

-------------------------------------------------------------

# References

* <https://danquack.dev/blog/creating-faas-in-k8s-with-argo-events>